{% extends "layout.twig" %}

{% block content %}

	<h2>Perseus Authentification Service</h2>

	{% if app.user %}
		<h3>You are signed in as <a href="{{ path('user.view', {'id': app.user.id}) }}">{{ app.user.displayName }}</a></h3>
	{% else %}
        <a href="{{ path('user.login') }}">Sign in</a> - 
        <a href="{{ path('user.register') }}">Create account</a>
	{% endif %}
{% endblock %}
